# python cache
__pycache__
# pytest and testing-related caches
.pytest_cache
.coverage
.nox
# sphinx documentation
docs/_build/
# poetry
dist/
# snakemake
analysis/data
analysis/out
analysis/log
analysis/Rplots.pdf
analysis/myenv.RData
.snakemake
.ipynb_checkpoints
# vscode
.vscode
venv/
